*.sublime-project
*.sublime-workspace

im_web/

android/

deploy/*.progress
deploy/*/*.tar.gz
!deploy/im_web/

im_server/*.tar.gz
im_server/cpp/*.tar.gz
im_server/cpp/run/
im_server/java/run/
im_server/java/target/
im_server/java/*.tar.gz


tools/

