*.sublime-project
*.sublime-workspace

deploy/
deploy/*.progress
deploy/*/*.tar.gz
deploy/redis/redis-2.8.13/

im_server/*.tar.gz

im_server/cpp/*.tar.gz
im_server/cpp/run/

im_server/java/run/
im_server/java/target/
im_server/java/*.tar.gz

im_web/

android/
tools/

